#top-main {
  display: flex;
  justify-content: space-between;
  width: var(--common_width);
  padding-top: 30px;
  font-weight: 600;
  background-color: var(--bg_color);
}
#title {
  font-size: 50px;
}

#clock,
#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
}
#clock h1:first-child {
  font-size: 15px;
}
#clock h1:last-child {
  padding-top: 10px;
  font-size: 30px;
}
#weather h1:last-child {
  padding-top: 10px;
}
